*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poltawski Nowy', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: purple; */

}
.container{
    width: 20rem;
    height: 10rem;
    background: white;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    padding: 0px 5px;
    cursor: pointer;
    font-size: 1rem;
}